*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

html {
    background-color: #222;
}

.container{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;

}

.card{
    width: 80%;
    height: 574px;
    margin: 0 auto;
}

.none {
    display: none;
}

.active {
    display: block;
}
.img-cont{
    width: 100%;
    height: 100%;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btns{
    text-align: center;
    line-height: 10rem;
    vertical-align: baseline;
}

.tumb {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
}

.img-cont-tumb {
    width: calc(100% / 5);
}